header{
	background-color: #f4f5f7;
	img{
		margin-top: $mt-10;
	}
	ul{
		list-style: none;
		padding: 0;
    	display: inline-flex;
    	margin-top: $mt-10;
		li{
			a{
				text-decoration: none;
				font-size: 10px;
				color: #868686;
				font-weight: bold;
				margin-right: $mr-10;
			}
		}
	}
	.boletin-rojo{
		font-size: 9px;
		margin-top: $mt-10;
		padding: 2px;
		font-weight: bold;
	}
	input{
		margin-top: $mr-10;
	}
}
header{
	i{
		margin-top: $mt-10;
		margin-right: $mr-10;
	}
}
.banner{
	img{
		width: 65%;
		margin-top: 20px;
	}
	.domingo{
		border: solid 1px #E5E4E4;
		border-bottom: solid 3px;
		margin-top: 20px;
		text-align: center;
		padding: 2px;
		height: 55px;
		h5{
			font-weight: bold;
			font-size: 12px;
			margin-top: -5px;
		}
		a{
			padding: 2px;
			font-weight: bold;
			font-size: 10px;
			margin-top: -25px;
		}
	}
	.llona{
		width: 100%;
		margin-top: $mt-10;
	}
}
nav{
	.rojo{
		background-color: #BA1414;
		padding: 0px;
		border-radius: 10px;
		margin-top: $mt-10;
	}
	ul{
		list-style: none;
		padding: 0;
    	display: inline-flex;
    	margin: 3px 5px;
    	text-align: center;
    	li{
			.menu1{
				text-decoration: none;
				font-size: 11px;
				color: #ffffff;
				background-color: #BA1414;
				padding: 4px;
				font-weight: bold;
				margin-right: 10px;
			}
			.menu2{
				margin-left: 10px;
			}
		}
	}
}
.submenu1{
	margin-top: $mt-10;
	background-color: #f4f5f7;
	border-radius: 10px;
	button{
		margin-left: -9px;
		background-color: #060606;
		border: #060606;
		border-radius: 0px;
		font-weight: bold;
		font-size: 12px;
		&:hover{
			background-color: #6A6969;
		}
	}
	.submenu{
		background-color: #f4f5f7;
		li{
			margin: 0px 5px;
			a{
				color: #565758;
				font-size: 12px;
				font-weight: bold;
			}
		}
	}
}
.encabezado{
	.banner{
		margin-top: $mt-10;
		margin-left: 10px;
	}
}