.encabezado h5 {
  text-align: left;
  margin-left: 150px;
  font-weight: bold;
  font-size: 1.2em; }
.encabezado .datos {
  margin-top: 20px; }
  .encabezado .datos input {
    width: 70%;
    margin-bottom: 30px;
    margin-left: 150px; }
  .encabezado .datos h6 {
    text-align: left;
    margin-left: 150px;
    font-weight: bold; }
.encabezado .sugerencias h5 {
  text-align: left;
  margin-left: 150px;
  font-size: 12px; }
.encabezado .sugerencias input {
  margin-left: 129px;
  display: block;
  margin-bottom: -22px; }
.encabezado .sugerencias textarea {
  margin-left: 150px; }

.sugerencias1 {
  margin-top: 40px; }

/*margin top*/
/*margen*/
/*cuadros de blog*/
/*para footer*/
/*texto azul de blog*/
header {
  background-color: #f4f5f7; }
  header img {
    margin-top: 10px; }
  header ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    margin-top: 10px; }
    header ul li a {
      text-decoration: none;
      font-size: 10px;
      color: #868686;
      font-weight: bold;
      margin-right: 10px; }
  header .boletin-rojo {
    font-size: 9px;
    margin-top: 10px;
    padding: 2px;
    font-weight: bold; }
  header input {
    margin-top: 10px; }

header i {
  margin-top: 10px;
  margin-right: 10px; }

.banner img {
  width: 65%;
  margin-top: 20px; }
.banner .domingo {
  border: solid 1px #E5E4E4;
  border-bottom: solid 3px;
  margin-top: 20px;
  text-align: center;
  padding: 2px;
  height: 55px; }
  .banner .domingo h5 {
    font-weight: bold;
    font-size: 12px;
    margin-top: -5px; }
  .banner .domingo a {
    padding: 2px;
    font-weight: bold;
    font-size: 10px;
    margin-top: -25px; }
.banner .llona {
  width: 100%;
  margin-top: 10px; }

nav .rojo {
  background-color: #BA1414;
  padding: 0px;
  border-radius: 10px;
  margin-top: 10px; }
nav ul {
  list-style: none;
  padding: 0;
  display: inline-flex;
  margin: 3px 5px;
  text-align: center; }
  nav ul li .menu1 {
    text-decoration: none;
    font-size: 11px;
    color: #ffffff;
    background-color: #BA1414;
    padding: 4px;
    font-weight: bold;
    margin-right: 10px; }
  nav ul li .menu2 {
    margin-left: 10px; }

.submenu1 {
  margin-top: 10px;
  background-color: #f4f5f7;
  border-radius: 10px; }
  .submenu1 button {
    margin-left: -9px;
    background-color: #060606;
    border: #060606;
    border-radius: 0px;
    font-weight: bold;
    font-size: 12px; }
    .submenu1 button:hover {
      background-color: #6A6969; }
  .submenu1 .submenu {
    background-color: #f4f5f7; }
    .submenu1 .submenu li {
      margin: 0px 5px; }
      .submenu1 .submenu li a {
        color: #565758;
        font-size: 12px;
        font-weight: bold; }

.encabezado .banner {
  margin-top: 10px;
  margin-left: 10px; }

footer {
  background-color: #E3E3E3;
  width: 100%;
  height: 100%; }
  footer .MG-top {
    margin-top: 25px; }
  footer .borde {
    width: 100%;
    padding-right: 15px;
    border-right: 1px solid white;
    height: 380px; }
    footer .borde img {
      padding-top: 100px;
      width: 80%; }
    footer .borde h3 {
      font-size: 16px; }
    footer .borde p {
      font-size: 12px;
      padding-top: 15px; }
  footer .a {
    display: block;
    font-size: 12px;
    color: black; }
    footer .a:hover {
      color: silver; }

footer .breadcrumb {
  padding-left: 190px;
  background-color: #E3E3E3; }
  footer .breadcrumb li {
    font-size: 11px;
    color: silver; }
    footer .breadcrumb li a {
      font-size: 11px;
      color: silver; }

.encabezado {
  text-align: center; }
  .encabezado .linea {
    display: inline;
    margin-left: 10px;
    margin-top: 10px; }
  .encabezado .azul {
    color: #11039C;
    margin-top: 10px; }
  .encabezado .celeste {
    color: #2AAAFB;
    margin-top: 10px; }
  .encabezado .rojo {
    color: #E10707;
    margin-top: 10px; }
  .encabezado h1 {
    font-family: "Truetype";
    font-size: 3.5em; }
  .encabezado h6 {
    text-decoration: none;
    font-size: 10px;
    color: #868686;
    font-weight: bold; }
  .encabezado .punto {
    margin-top: 3px; }

/*ESTILOS DE LA PORTADA DONDE SE ENCUENTRAN LAS 3 FOTOS PRINCIPALES*/
.primero {
  background-image: url(../image/img_grid_principal.jpg);
  background-repeat: no-repeat;
  background-size: 100%; }
  .primero p {
    padding: 95% 10px 10px 10px; }

.segundo {
  background-image: url(../image/img_grid_secundario.jpg);
  background-repeat: no-repeat;
  background-size: 100%; }
  .segundo p {
    padding: 30% 10px 10px 10px; }

.tercero {
  background-image: url(../image/seleccion-peruana-sub-20.jpg);
  background-repeat: no-repeat;
  background-size: 100%; }
  .tercero p {
    padding: 34% 10px 10px 10px; }

.opacidad, .opacidad1, .opacidad2 {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  text-shadow: 2px 2px black;
  font-size: 1.4em;
  margin-bottom: 0px;
  text-align: left; }

.portada {
  margin-top: 20px; }

/*ESTILOS DEL SLICK CON LOS COLUMNISTAS*/
.columnistas {
  text-align: center;
  margin-top: 20px; }
  .columnistas .fondo-gris {
    background-color: #E1E1E1;
    border-top: #B50D0D solid 5px; }
    .columnistas .fondo-gris h5 {
      background-color: #B50D0D;
      color: #FFFFFF;
      font-size: 1em;
      font-weight: bold;
      width: 127px;
      padding: 5px;
      margin-left: 43%;
      margin-top: -15px; }
  .columnistas .author {
    padding: 3px;
    border: solid 1px black;
    width: 90px;
    height: 90px;
    margin-left: 25px;
    margin-top: 10px; }
  .columnistas a {
    text-decoration: none;
    font-size: 10px;
    color: #868686;
    font-weight: bold; }
  .columnistas h6 {
    text-decoration: none;
    font-size: 14px;
    color: #666666;
    font-weight: bold; }

/*ESTILOS DE LAS 4 FOTOS JUNTO A LA PUBLICIDAD DEL CABELLO*/
.notas {
  margin-top: 20px; }

.noticia {
  border: solid 1px #C0C0C0;
  width: 310px;
  height: 220px;
  margin-top: 20px; }
  .noticia h5 {
    text-decoration: none;
    font-size: 14px;
    color: #9C0303;
    font-weight: bold;
    text-align: center; }
  .noticia h6 {
    text-decoration: none;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
    text-align: center; }
  .noticia a {
    text-decoration: none;
    font-size: 12px;
    color: #393939;
    font-weight: bold; }
  .noticia .opacidad {
    font-size: 1em; }
    .noticia .opacidad p {
      padding: 16% 2%; }
  .noticia .opacidad1 {
    font-size: 1em; }
    .noticia .opacidad1 p {
      padding: 12% 2%; }
  .noticia .opacidad2 {
    font-size: 1em; }
    .noticia .opacidad2 p {
      padding: 16% 2%; }
  .noticia .uno {
    background-image: url(../image/img_especiales.jpg);
    background-repeat: no-repeat;
    background-size: 100%; }
  .noticia .dos {
    background-image: url(../image/img_especiales_aside.jpg);
    background-repeat: no-repeat;
    background-size: 100%; }
  .noticia .tres {
    background-image: url(../image/img_especiales.jpg);
    background-repeat: no-repeat;
    background-size: 100%; }
  .noticia .cuatro {
    background-image: url(../image/img_especiales.jpg);
    background-repeat: no-repeat;
    background-size: 100%; }

/*ESTILOS DE SECCION NOTICIAS DONDE ESTA LA FOTO DE EMMA WATSON*/
.last-notices h5 {
  font-size: 18px;
  color: #666666;
  font-weight: bold; }
.last-notices .notas {
  border-bottom: solid 1px #A7A6A6; }
  .last-notices .notas h6 {
    font-size: 9px;
    font-weight: bold;
    color: black; }
  .last-notices .notas p {
    font-size: 14px;
    color: black;
    width: 80%; }
  .last-notices .notas h4, .last-notices .notas a {
    font-size: 16px;
    font-weight: bold;
    color: black; }
  .last-notices .notas .lista {
    margin-bottom: 40px; }
    .last-notices .notas .lista a, .last-notices .notas .lista img, .last-notices .notas .lista i {
      margin-left: 5px;
      font-size: 12px;
      font-weight: bold;
      color: #8D8D8D; }

/*ESTILOS DE ASIDE (SUBSCRIBE*/
.subscribe {
  background-color: #E2E2E2;
  padding: 10%;
  text-align: center;
  margin-top: 20px; }
  .subscribe .subs {
    background-color: #ffffff;
    padding: 5%; }
    .subscribe .subs img {
      margin-top: -35px; }
    .subscribe .subs h5 {
      font-size: 14px;
      font-weight: bold;
      color: black; }
    .subscribe .subs button {
      font-size: 12px;
      padding: 2px 4px;
      width: 100%;
      font-weight: bold; }

/*ESTILOS DE ASIDE (AWEITA)*/
.aweita {
  border: solid 2px #C0C0C0;
  margin-top: 20px;
  padding: 6px; }
  .aweita hr {
    border: 3px solid #9205B5;
    margin-bottom: -9px; }
  .aweita .logo-aweita {
    margin-left: 25%;
    margin-top: 5px; }
  .aweita .aweita-content {
    margin: 10px 0px; }
    .aweita .aweita-content p {
      font-size: 12px;
      font-weight: bold;
      color: black;
      margin-left: 47px; }
  .aweita h6 {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-top: 10px; }
    .aweita h6 a {
      color: #9205B5; }

/*ESTILOS DE DESTACADAS*/
.destacadas {
  border-top: solid 5px #768696;
  border-bottom: solid 1px #768696;
  margin-top: 20px;
  padding: 3px; }
  .destacadas h4 {
    background-color: #768696;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    padding: 7px;
    margin-left: 23%;
    margin-top: -15px;
    text-align: center; }
  .destacadas .sub-grande {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-left: 8px; }

.grande {
  width: 100%;
  padding: 2px;
  border: solid 1px #768696; }

.entradas {
  margin: 10px 0px; }
  .entradas p {
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-left: 47px; }

/*ESTILOS DE ESPECIALES*/
.especiales {
  border-top: solid 5px #768696;
  border-bottom: solid 1px #768696;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 3px; }
  .especiales h4 {
    background-color: #768696;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    padding: 7px;
    margin-left: 30%;
    margin-top: -15px;
    text-align: center; }
  .especiales .foto-fondo {
    background-image: url(../image/img_fotodes_prominent.jpg);
    background-repeat: no-repeat;
    padding: 135px 0px 14px 72px; }
  .especiales .fondo-blanco p {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    font-weight: bold;
    color: black;
    padding: 3%;
    width: 60%; }

/*ESTILOS DE CARLINCATURA*/
.carlincatura {
  border-top: solid 5px #B50D0D;
  border-bottom: solid 1px #768696; }
  .carlincatura h4 {
    background-color: #B50D0D;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    width: 160px;
    padding: 5px;
    margin-left: 22%;
    margin-top: -15px; }
  .carlincatura h6 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-top: 10px; }
  .carlincatura a {
    font-size: 10px;
    font-weight: bold;
    color: #B50D0D;
    margin-left: 70px;
    text-decoration: none;
    margin-bottom: 10px; }
  .carlincatura img {
    margin-bottom: 10px; }

/*ESTILOS DE BLOGUEROS*/
.blogueros {
  border-top: solid 5px #768696;
  border-bottom: solid 1px #768696;
  margin-top: 20px;
  padding: 3px;
  margin-bottom: 50px; }
  .blogueros img {
    padding: 2px;
    border: solid #C0C0C0 1px;
    margin-bottom: 10px; }
  .blogueros a {
    font-size: 10px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
    text-decoration: none;
    margin-bottom: 10px; }
  .blogueros h6 {
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-top: 10px; }
  .blogueros h4 {
    background-color: #768696;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    width: 180px;
    padding: 7px;
    margin-left: 20%;
    margin-top: -15px;
    text-align: center; }
  .blogueros .blogs {
    font-size: 10px;
    font-weight: bold;
    color: #B50D0D;
    margin-left: 90px;
    text-decoration: none;
    margin-bottom: 10px; }

/*ESTILOS DE EDICION IMPRESA*/
.edicion-impresa {
  border-top: solid 5px #B50D0D;
  border-bottom: solid 1px #768696; }
  .edicion-impresa h4 {
    background-color: #B50D0D;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    width: 118px;
    padding: 5px;
    margin-left: 27%;
    margin-top: -15px; }
  .edicion-impresa h6 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-top: 10px; }
  .edicion-impresa .portada-principal {
    width: 90%;
    margin-left: 6%;
    margin-bottom: 10px; }
  .edicion-impresa img {
    margin-right: 10px;
    margin-bottom: 30px; }
  .edicion-impresa h5 {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-left: 40px;
    margin-top: 40px; }
  .edicion-impresa a {
    font-size: 12px;
    font-weight: bold;
    color: #B50D0D;
    margin-left: 40px;
    text-decoration: none;
    margin-bottom: 10px; }

/*BARRAS DE PROGRESO*/
.links {
  margin-top: 10px;
  color: #B50D0D;
  font-size: 10px; }

.respuesta h6 {
  margin-top: 2px; }
.respuesta progress {
  margin-left: -20px; }

#blog h1 {
  color: black;
  font-size: 48px; }
#blog .p {
  color: #687986; }

#blog .cuadro {
  padding-top: 30px;
  width: 100%;
  heigth: 250px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid silver; }
  #blog .cuadro p {
    font-size: 18px; }
  #blog .cuadro .celeste {
    margin: 10px;
    background-color: #E2E6E9; }
    #blog .cuadro .celeste h3 {
      font-size: 15px;
      text-align: left; }
    #blog .cuadro .celeste h2 {
      color: #687986;
      font-size: 15px;
      text-align: left; }
    #blog .cuadro .celeste img {
      width: 100%;
      heigth: 100%;
      margin: 10px; }
  #blog .cuadro .MG-top {
    margin-top: 35px; }
#blog .MG-left {
  margin-left: 25px; }

/*# sourceMappingURL=main.css.map */
